# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Linker output
*.ilk
*.map
*.exp

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lo
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# gcc coverage testing tool files
*.gcno
*.gcda
*.gcov

## CMake
# In-source build tree
build/
build_debug/
build_release/

# Generated and user files
**/CMakeCache.txt
**/CMakeFiles
**/CMakeLists.txt.user
**/CMakeScripts
**/CMakeUserPresets.json
**/cmake_install.cmake
**/compile_commands.json
**/CPackConfig.cmake
**/CTestTestfile.cmake
**/install_manifest.txt
Makefile
Testing
_deps
